<ul>
    {%for c in commLst%}
        <div class="clr"></div>
        <div class="comment-inner">
            <div class="comment-avatar">
                <img src="{{ asset('custum/images/icon-p.jpg') }}" alt="Popular artist">
            </div>
            <div class="comment-meta">
                <span class="comment-author">
                    <cite class="tip">{{c.user.username}}</cite>
                </span>
                <a class="comment-time" href="#comment-2">le {{c.date | date("d/m/Y \\à H:i")}}</a>
            </div>
            <div class="comment-content">
                <p>{{c.content}}</p>
                <div id='answerlist-{{c.id}}' class='answer-lst'>
                </div>
                <script>
                    $('#answerlist-'+{{c.id}}).load('{{path('comment_getanstLst')}}', {'commentparentid': {{c.id}}});
                </script>
            </div>
            <p class="statslike">
                <!--
                <span class="dp-post-likes likes">
                    <i class="count">45</i>
                </span>
                <span class="dp-post-likes unlikes">
                    <i class="count">10</i>
                </span>
                -->
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <span>
                    <i class="count"><a id='answer-{{c.id}}' class='answerlink'>R&eacute;pondre</a></i>
                </span>
                <span>
                    <i class="count"><a id='show-answer-{{c.id}}' class='showans'>Afficher les r&eacute;ponses</a></i>
                </span>
                <span>
                    <i class="count"><a id='hide-answer-{{c.id}}' class='hideans'>Masquer les r&eacute;ponses</a></i>
                </span>
                
            </p>
            <input id="answerontent-{{c.id}}" class="docomment commentanswer" type="text" placeholder="Repondre au commentaire" value="" name="anscontent-{{c.id}}">
            {%endif%}
        </div>
        
    {%endfor%}

</ul>
    <script>
        $('.commentanswer').hide();
        $('.answerlink').on('click', function(){
            var id=$(this).attr('id').split('-')[1];
            $('#answerontent-'+id).show();
            $(this).hide();
        });
        
        
        //*
         $('.commentanswer').keypress(function (e) {
            if (e.which == 13) {
                var id=$(this).attr('id').split('-')[1];
                //answerComment(id);
                //*
                $.post('{{path('comment_ajax_update_comments', {'video_id': video_id})}}', 
                {'comcontent': $(this).val(), 'commentparentid': id}, function () {
                    $('.commentanswer').hide();
                    $('#answerlist-'+id).load('{{path('comment_getanstLst')}}', {'commentparentid': id});
                    $('#answer-'+id).show()
                });
                //*
                
            }
        });
        $('.answer-lst, .hideans').hide();
        $('.showans').on('click', function(){
            var id=$(this).attr('id').split('-')[2];
            $('#answerlist-'+id+', #hide-answer-'+id).show();
            $(this).hide();
        });
        
        $('.hideans').on('click', function(){
            var id=$(this).attr('id').split('-')[2];
            $('#answerlist-'+id+', #hide-answer-'+id).hide();
            $('#show-answer-'+id).show();
        });
        
        
        //*/
    </script>



