{% extends "layout/base.html.twig" %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block home_lecteur %}
    {{ render_esi(controller('MvondoVideoBundle:Modules:home_lecteur')) }}
{% endblock %}

{% block body %}
    <!-- left content-->
    <div id="content">
        {{ render(controller('MvondoVideoBundle:Modules:last_videos')) }}
        {{ render(controller('MvondoVideoBundle:Modules:highlight_category', {"id": 9})) }}
    </div>
    <!-- end left content -->
    <!-- sidebar -->
    <div id="sidebar" role="complementary" class="masonry" style="position: relative; min-height: 500px">
        <div id="popularartist" class="widget widget_text masonry-brick">
            <div class="widget-header"><h3 class="widget-title">à propos de MVONDO</h3></div>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="section-header right">
                <a class="more-link" href="#">
                    <span>En savoir plus</span>
                </a>
            </div>
            <br>
        </div>
        {{ render(controller('MvondoVideoBundle:Modules:list_category')) }}
        <div id="popularartist" class="widget widget_text masonry-brick">
            <div class="widget-header"><h3 class="widget-title">Popular artist</h3></div>	
            <div class="blocpa">
                <a class="paimg" href="#" ><img src="{{ asset('custum/images/art1.jpg') }}" alt="Popular artist"></a>
                <a class="paimg" href="#" ><img src="{{ asset('custum/images/art2.jpg') }}" alt="Popular artist"></a>
                <a class="paimg last" href="#" ><img src="{{ asset('custum/images/art3.jpg') }}" alt="Popular artist"></a>
                <a class="paimg" href="#" ><img src="{{ asset('custum/images/art4.jpg') }}" alt="Popular artist"></a>
                <a class="paimg" href="#" ><img src="{{ asset('custum/images/art5.jpg') }}" alt="Popular artist"></a>
                <a class="paimg last" href="#" ><img src="{{ asset('custum/images/art6.jpg') }}" alt="Popular artist"></a>
                <a class="paimg" href="#" ><img src="{{ asset('custum/images/art7.jpg') }}" alt="Popular artist"></a>
                <a class="paimg" href="#" ><img src="{{ asset('custum/images/art8.jpg') }}" alt="Popular artist"></a>
                <a class="paimg last" href="#" ><img src="{{ asset('custum/images/art9.jpg') }}" alt="Popular artist"></a>
                <a class="paimg" href="#" ><img src="{{ asset('custum/images/art10.jpg') }}" alt="Popular artist"></a>
                <a class="paimg" href="#" ><img src="{{ asset('custum/images/art11.jpg') }}" alt="Popular artist"></a>
                <a class="paimg last" href="#" ><img src="{{ asset('custum/images/art12.jpg') }}" alt="Popular artist"></a>
                <a class="paimg" href="#" ><img src="{{ asset('custum/images/art13.jpg') }}" alt="Popular artist"></a>
                <a class="paimg" href="#" ><img src="{{ asset('custum/images/art14.jpg') }}" alt="Popular artist"></a>
                <a class="paimg last" href="#" ><img src="{{ asset('custum/images/art15.jpg') }}" alt="Popular artist"></a>
                <a class="paimg" href="#" ><img src="{{ asset('custum/images/art16.jpg') }}" alt="Popular artist"></a>
                <a class="paimg" href="#" ><img src="{{ asset('custum/images/art17.jpg') }}" alt="Popular artist"></a>
                <a class="paimg last" href="#" ><img src="{{ asset('custum/images/art18.jpg') }}" alt="Popular artist"></a>
            </div>
        </div>
        <div id="text-2" class="widget widget_text masonry-brick">
            <div class="widget-header"><h3 class="widget-title">Principales fonctionnalités</h3></div>	
            <div class="textwidget">
                <ul>
                    <li><a href="{{ path('mvondo_category_list') }}" >Categories</a></li>
                    <li><a href="{{ path('mvondo_category_admin_list') }}" >Admin Categories</a></li>
                    <li><a href="{{ path('mvondo_video_admin_add') }}" >Admin add Videos</a></li>
                        {% if is_granted('ROLE_ARTIST') %}
                        <li><a href="{{ path('mvondo_video_user_list', {'username': app.user.username} ) }}" >User Videos</a></li>
                        {% endif %}
                    <li><a href="{{ path('fos_user_group_list') }}" >Admin Group User</a></li>
                    <li><em>Pages CMS</em>
                        <ul>
                            <li><a href="{{ path('mvondo_site_help') }}">Help!</a></li>
                            <li><a href="{{ path('mvondo_site_aboutus') }}">About Us</a></li>
                            <li><a href="{{ path('mvondo_site_partners') }}">Partners</a></li>
                            <li><a href="{{ path('mvondo_site_faq') }}">F.A.Q</a></li>
                            <li><a href="{{ path('mvondo_site_contact') }}">Contact</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- end sidebar -->
    <div class="clr"></div>
    <div id="bloc_bas">
        <div class="section-box">
            <div class="section-header">
                <h2 class="section-title">
                    <a class="name-link" href= href="{{ path('mvondo_category_view', {'slug': 'comedy'} ) }}" alt="comédie" >
                        <span class="name">Comédies</span>
                    </a>
                </h2>
                <a class="more-link" href="{{ path('mvondo_category_view') }}">
                    <span>More <i class="mini-arrow-right"></i></span>
                </a>
            </div>

            <div class="section-content grid-small">
                <div class="nag cf">

                </div>
            </div>
        </div>
        <div class="clr"></div>
        <div class="section-box">
            <div class="section-header">
                <h2 class="section-title">
                    <a class="name-link" href="#">
                        <span class="name">Films</span>
                    </a>
                </h2>
                <a class="more-link" href="{{ path('mvondo_category_view') }}">
                    <span>More <i class="mini-arrow-right"></i></span>
                </a>
            </div>

            <div class="section-content grid-small">
                <div class="nag cf">

                </div>
            </div>
        </div>
    </div>

{% endblock %}
