{% extends "layout/base.html.twig" %}

{% block title %} {{ parent() }} - {{ category.name }} {% endblock %}

{% block body %}
    <h1 class='loop-header'>Category {{ category.name }}</h1>
    <!-- left content-->
    <div id="content">
        <div class="section-content grid-small">
            <div class="nag cf">
                {% for video in videos %}
                    {% include 'MvondoVideoBundle:template:small_square_video.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end left content -->
    <!-- sidebar -->
    <div id="sidebar" role="complementary" class="masonry" style="position: relative; min-height: 500px">
        <div id="text-2" class="widget widget_text masonry-brick" style="position: absolute; top: 0px; left: 0px;">
            <div class="widget-header"><h3 class="widget-title">Principales fonctionnalités</h3></div>	
            <div class="textwidget">
                <ul>
                    <li><a href="{{ path('mvondo_category_list') }}" >Categories</a></li>
                    <li><a href="{{ path('mvondo_category_admin_list') }}" >Admin Categories</a></li>
                        {% if is_granted('ROLE_ARTIST') %}
                        <li><a href="{{ path('mvondo_video_user_list', {'username': app.user.username} ) }}" >User Videos</a></li>
                        {% endif %}
                    <li><a href="{{ path('fos_user_group_list') }}" >Admin Group User</a></li>
                    <li><em>Pages CMS</em>
                        <ul>
                            <li><a href="{{ path('mvondo_site_help') }}">Help!</a></li>
                            <li><a href="{{ path('mvondo_site_aboutus') }}">About Us</a></li>
                            <li><a href="{{ path('mvondo_site_partners') }}">Partners</a></li>
                            <li><a href="{{ path('mvondo_site_faq') }}">F.A.Q</a></li>
                            <li><a href="{{ path('mvondo_site_contact') }}">Contact</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end sidebar -->
{% endblock %}
