<header id="header">
    <div class="wrap cf">

        <div id="branding" class="image-branding" role="banner">
            <h1 id="site-title"><a rel="home" href="{{ path('mvondo_site_homepage') }}">Mvondo</a></h1>
            <a id="site-logo" rel="home" href="{{ path('mvondo_site_homepage') }}"><img src="{{ asset('bundles/mvondosite/images/logo.png') }}" alt="Mvondo"></a>

            <h2 id="site-description" class="hidden">Site de promotion culturelle des jeunes talents africains</h2>
        </div><!-- end #branding -->

        <div id="header-actions" class="cf">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Connecté en tant que {{ app.user.username }}
                -
                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Connexion</a> / <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
            {% endif %}
        </div><!-- end #header-actions -->

        <div id="header-search">
            <div class="searchform-div">
                <form method="get" class="searchform" action="#">
                    <div class="search-text-div"><input type="text" name="s" class="search-text" value="" placeholder="Recherchez une video ou un artiste..."></div>
                    <div class="search-submit-div btn"><input type="submit" class="search-submit" value="Search"></div>
                </form><!--end #searchform-->
            </div>	
        </div><!-- end #header-search -->

    </div>
</header>


