{% extends "::base.html.twig" %}

{% block title %} {{ parent() }} - Homepage{% endblock %}

{% block body %}


    <h1>Principales fonctionnalités</h1>
    <div>
        <ul>
            <li><a href="{{ path('mvondo_category_list') }}" >Categories</a></li>
            <li><a href="{{ path('mvondo_category_admin_list') }}" >Admin Categories</a></li>
            <li><em>Pages CMS</em>
                <ul>
                    <li><a href="{{ path('mvondo_site_help') }}">Help!</a></li>
                    <li><a href="{{ path('mvondo_site_aboutus') }}">About Us</a></li>
                    <li><a href="{{ path('mvondo_site_partners') }}">Partners</a></li>
                    <li><a href="{{ path('mvondo_site_faq') }}">F.A.Q</a></li>
                    <li><a href="{{ path('mvondo_site_contact') }}">Contact</a></li>
                </ul>
            </li>
        </ul>
    </div>

{% endblock %}
