<footer id="footer">
	<div id="footnewsl" class="footbar-c4s1" data-layout="c4s1">
		<div class="wrap cf masonry">
			 <form method="post" action="">
				<label>Receive our exclusive info</label>
				<input id="mail" type="text" required="required" value="" name="_mail" placeholder="Adresse Email">
				<input class="send-submit" type="submit" value="Envoyer">
			</form>
		</div>
	</div>
    <div id="footbar" class="footbar-c4s1" data-layout="c4s1">
        <div class="wrap cf masonry" style="position: relative; height: 158px;">
            <div class="widget-col widget-col-1 widget-col-links masonry-brick">
                <div id="linkcat-1640" class="widget widget_links">
                    <div class="widget-header">
                        <h3 class="widget-title">Page CMS</h3>
                    </div>
                    <ul class="xoxo blogroll">
                        <li><a href="{{ path('mvondo_site_help') }}">Help!</a></li>
                        <li><a href="{{ path('mvondo_site_aboutus') }}">About Us</a></li>
                        <li><a href="{{ path('mvondo_site_partners') }}">Partners</a></li>
                        <li><a href="{{ path('mvondo_site_faq') }}">F.A.Q</a></li>
                        <li><a href="{{ path('mvondo_site_contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget-col widget-col-2 widget-col-links masonry-brick">
                <div id="linkcat-2" class="widget widget_links">
                    <div class="widget-header">
                        <h3 class="widget-title">Footer Title</h3>
                    </div>
                    <ul class="xoxo blogroll">
                        <li><a href="#">footer element</a></li>
                        <li><a href="#">footer element</a></li>
                        <li><a href="#">footer element</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget-col widget-col-3 widget-col-links masonry-brick">
                <div id="linkcat-2" class="widget widget_links">
                    <div class="widget-header">
                        <h3 class="widget-title">Footer Title</h3>
                    </div>
                    <ul class="xoxo blogroll">
                        <li><a href="#">footer element</a></li>
                        <li><a href="#">footer element</a></li>
                        <li><a href="#">footer element</a></li>
                    </ul>
                </div>
            </div><div class="widget-col widget-col-4 widget-col-links masonry-brick">
                <div id="linkcat-2" class="widget widget_links">
                    <div class="widget-header">
                        <h3 class="widget-title">Footer Title</h3>
                    </div>
                    <ul class="xoxo blogroll">
                        <li><a href="#">footer element</a></li>
                        <li><a href="#">footer element</a></li>
                        <li><a href="#">footer element</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget-col widget-col-no  widget-col-links masonry-brick">
                <div id="dp-tweets-widget-2" class="widget widget-tweets">
                    <div class="widget-header">
                        <h3 class="widget-title">Twitter Updates</h3>
                    </div>
                    <p class="error-message">Twitter username is not configured</p>
					<div id="social-nav">
						<span class="desc">Follow us elsewhere</span>
						<ul>
							<a class="twitter" href="#" title="Follow us on Twitter">Follow us on Twitter</a>
							<a class="facebook" href="#" title="Become a fan on Facebook">Become a fan on Facebook</a>
							<a class="gplus" href="#" title="Follow us on Google Plus">Follow us on Google Plus</a>
						</ul>
					</div><!-- end #social-nav -->	
                </div>
            </div>
        </div>
    </div><!-- end #footbar -->
    <div class="clr"></div>
    <div id="colophon" role="contentinfo"><div class="wrap cf">
            	
            <p id="copyright">Copyright 2015 © <a href="/">Mvondo</a> All rights reserved.Powered by <a target="_blank" href="http://www.cs-engineering.eu">CSengineering</a>.</p>			
           
	</div><!-- end #colophon -->
</footer>