<footer id="footer">
    <div id="footbar" class="footbar-c4s1" data-layout="c4s1">
        <div class="wrap cf masonry" style="position: relative; height: 158px;">
            <div class="widget-col widget-col-1 widget-col-links masonry-brick" style="position: absolute; top: 30px; left: 0px;">
                <div id="linkcat-1640" class="widget widget_links">
                    <div class="widget-header">
                        <h3 class="widget-title">Page CMS</h3>
                    </div>
                    <ul class="xoxo blogroll">
                        <li><a href="{{ path('mvondo_site_help') }}">Help!</a></li>
                        <li><a href="{{ path('mvondo_site_aboutus') }}">About Us</a></li>
                        <li><a href="{{ path('mvondo_site_partners') }}">Partners</a></li>
                        <li><a href="{{ path('mvondo_site_faq') }}">F.A.Q</a></li>
                        <li><a href="{{ path('mvondo_site_contact') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget-col widget-col-2 widget-col-links masonry-brick" style="position: absolute; top: 30px; left: 160px;">
                <div id="linkcat-2" class="widget widget_links">
                    <div class="widget-header">
                        <h3 class="widget-title">Footer Title</h3>
                    </div>
                    <ul class="xoxo blogroll">
                        <li><a href="#">footer element</a></li>
                        <li><a href="#">footer element</a></li>
                        <li><a href="#">footer element</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget-col widget-col-3 widget-col-links masonry-brick" style="position: absolute; top: 30px; left: 320px;">
                <div id="linkcat-2" class="widget widget_links">
                    <div class="widget-header">
                        <h3 class="widget-title">Footer Title</h3>
                    </div>
                    <ul class="xoxo blogroll">
                        <li><a href="#">footer element</a></li>
                        <li><a href="#">footer element</a></li>
                        <li><a href="#">footer element</a></li>
                    </ul>
                </div>
            </div><div class="widget-col widget-col-4 widget-col-links masonry-brick" style="position: absolute; top: 30px; left: 480px;">
                <div id="linkcat-2" class="widget widget_links">
                    <div class="widget-header">
                        <h3 class="widget-title">Footer Title</h3>
                    </div>
                    <ul class="xoxo blogroll">
                        <li><a href="#">footer element</a></li>
                        <li><a href="#">footer element</a></li>
                        <li><a href="#">footer element</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget-col widget-col-5 masonry-brick" style="position: absolute; top: 30px; left: 640px;">
                <div id="dp-tweets-widget-2" class="widget widget-tweets">
                    <div class="widget-header">
                        <h3 class="widget-title">Twitter Updates</h3>
                    </div>
                    <p class="error-message">Twitter username is not configured</p>
                </div>
            </div>
        </div>
    </div><!-- end #footbar -->
    
    <div id="colophon" role="contentinfo"><div class="wrap cf">
            <div id="social-nav">
                <span class="desc">Follow us elsewhere</span>
                <ul>
                    <li class="twitter"><a href="#" title="Follow us on Twitter">Follow us on Twitter</a></li>
                    <li class="facebook"><a href="#" title="Become a fan on Facebook">Become a fan on Facebook</a></li>
                    <li class="gplus"><a href="#" title="Follow us on Google Plus">Follow us on Google Plus</a></li>
                </ul>
            </div><!-- end #social-nav -->		
            <p id="copyright">Copyright 2015 © <a href="/">Mvondo</a> All rights reserved.</p>			
            <p id="credits">Powered by <a target="_blank" href="http://www.cs-engineering.eu">CSengineering</a>.</p>		</div></div><!-- end #colophon -->
</footer>