{% extends "::base.html.twig" %}

{% block title %} {{ parent() }} - Dashboard {% endblock %}

{% block body %}
    <h1 class='loop-header'>Dashboard</h1>
    {% if videos is defined %}
        <h2>Lists of videos</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Add Date</th>
                    <th>Status</th>
                    <th>thumbnail</th>
                </tr>
            </thead>
            <tbody>
                {% for video in videos %}
                    <tr>
                        <td>{{ video.id }}</td>
                        <td>{{ video.title }}</td>
                        <td>{{ video.description }}</td>
                        <td>{{ video.dateAdd|date('d-m-y') }}</td>
                        <td>{% if video.status == true %} activé {% else %} désactivé {% endif %}</td>
                        <td><img src='../../{{ video.image.getWeblink() }}' alt='{{ video.image.title }}' width='100' heigth='50'/></td>
                        <td><a href='{{ path('mvondo_video_update', {'id':video.id } ) }}'>Editer</a></td>
                        <td><a href='{{ path('mvondo_video_delete', {'id':video.id } ) }}'>Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}    
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    
    <div>
        {{ form(form) }}

    </div>
{% endblock %}
