<!-- module home_lecteur -->
<div class="home-featured-full wall">
    <div id="tv-player">
        <div id="tv-header" class="cf wrap">
            <h1 class="entry-title">
                <a class="tv-clip"></a>
                <div class="entry-actions">
                    <span class="dp-like-post right"><a class="like" href="javascript:void(0);">Kiffer</a></span>	
                </div>
            </h1>
        </div>
        <div id="tv-screen" class="cf wrap">
            <iframe id="tv-screen-youtube" src="" width="950" height="350"></iframe>
        </div>
        <div id="tv-controll" class="cf wrap">
            <div class="tv-gallery">
                {% for video in videos %}
                    <a  class="tv-channel" 
                        data-key="{{ video.playerKey }}" 
                        data-link="{{ path('mvondo_video_view', {'slug': video.slug }) }}" 
                        data-title="{{ video.title }}" title="{{ video.title }}"
                        data-duree="{{ video.duration }}">
                        <img src="{{ video.image }}" alt="{{ video.title }}"/>
                    </a>
                {% endfor %}
            </div>
            <div class="tv-previous"></div>
            <div class="tv-next"></div>
        </div>
    </div>
</div>
<!-- end module home_lecteur -->