<!-- Item big square video -->
<div class="item cf item-video">
   
    <div class="thumb">
        <a class="clip-link"title="{{ video.title }}" href="{{ path('mvondo_video_view', {'slug': video.slug })}}">
            <span class="clip">
                <img src="{{ video.image_lage }}" alt="{{ video.title }}">
                <span class="vertical-align"></span>
            </span>

            <span class="overlay"></span>
        </a>
    </div>		
                
    <div class="data">
        
        <h2 class="entry-title">
            <a href="{{ path('mvondo_video_view', {'slug': video.slug })}}" rel="bookmark" title="{{ video.title }}">
                {{ video.title }}
            </a>
        </h2>

        <p class="entry-meta">
            <span class="author vcard">
                <a class="url fn n" href="" title="View all posts by {{ video.title }}" rel="author">{{ video.title }}</a>
            </span>

            <time class="entry-date" datetime="2012-06-19T19:55:04+00:00">3 years ago</time>
        </p>

        <p class="stats">
            <span class="views"><i class="count">0K</i> <span class="suffix">Views</span></span>
            <span class="comments"><i class="count">0</i> <span class="suffix">Comments</span></span>
            <span class="dp-post-likes likes"><i class="count" data-pid="1731">0</i> <span class="suffix">Likes</span></span>
        </p>

        <p class="entry-summary">{{ video.description }}</p>
        
    </div>
</div>
<!-- end Item big square video -->